[user]
	name = 
	email = 
[alias]
    x = !git pull && git remote prune origin
    f = fetch
    u = pull
    s = push
    b = branch
    c = commit
    o = checkout
    r = rebase
    i = status
    m = !git status | grep modified
